/*UNIVERSAL*/
body {
    margin: 0;
}

.main-content {
    position: relative;
    margin-top: 215px;
}

.image-container {
    overflow: hidden;
}
  
.image-container img {
    display: block;
    max-width: 100%;
}


/*HEADER*/
header {
    position: fixed;
    z-index: 100;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 0;
    height: auto;
    width: 100%;
    padding: 1px;
    display: flex;
    margin: 0;
    background-color: #F5F3EC;
    border-bottom: 2.5px double #4B4538;
}

.logo {
    display: flex;
    font-family: 'Italiana', serif;
    font-size: 33px;
    color: #063147;
    font-weight: bold;
}

nav a {
    background-color: transparent;
    color: White;
    margin-bottom: 0;
    color: #4B4538;
  }
  
  ul {
    list-style: none;
    display: flex;

  }
  
  li {
    display: inline-flex;
    margin-right: 60px;
  }


/*STATEMENT*/
#statement-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statement-background {
    background-image: url(../images/chris-leipelt-6w_dYdazo20-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}

.statement {
    background-color: rgba(237, 235, 228, 0.7);
    padding: 170px;
    text-align: center;
    font-family: 'Antic Didone', serif;
}

@media only screen and (max-width: 700px) {
  .statement {
    width: 100px;
  }
}


/*SERVICES TITLE*/
.services-title {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    font-family: 'Italiana', serif;
    font-size: 30px;
    color: #4B4538;
}


/*SERVICES*/
#services-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 4rem 5%;
    background-color: #f3f3f3;
  }
  
  .service {
    flex: 1;
    padding: 2rem;
    margin: 0px 7px;
    background-color: white;
  }
  
  .service .image-container {
    width: 90%;
    height: 65%;
    margin: 0 auto;
  }
  
  .service .content {
    padding: 2.5rem 0;
  }
  
  .service h2 {
    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
  }


  /*TEAM TITLE*/
.team-title {
  display: flex;
  justify-content: center;
  background-color: #063147;
  font-family: 'Italiana', serif;
  font-size: 30px;
  color: #f3f3f3;
}


/*SERVICES*/
#team-section {
  display: flex;
  justify-content: space-around;
  padding: 4rem 5%;
  background-color: #063147;
}

.team {
  flex: 1;
  padding: 2rem;
  margin: 0px 7px;
  background-color: white;
}

.team .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;
}

.team .content {
  padding: 2.5rem 0;
}

.team h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.team h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
  font-family: 'Antic Didone', serif;
}

/*FOOTER*/
footer {
  background-color: #F5F3EC;
  text-align: center;
  padding-bottom: 15px;
}

.logo2 {
  display: flex;
    font-family: 'Italiana', serif;
    font-size: 25px;
    color: #063147;
    justify-content: center;
}

.contact {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
  font-family: 'Antic Didone', serif;
}

.copyright {
  color: #4a4a4a; 
  margin-top: 55px;
}